<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Modified: 2025-11-27, Version: 2.0, Optimization: IPA Similarity Reduction -->
<plist version="1.0">
<array>
	<dict>
		<key>zhCN</key>
		<string>[微笑]</string>
		<key>zhTW</key>
		<string>[微笑]</string>
		<key>en</key>
		<string>[smile]</string>
		<key>emojiName</key>
		<string>e_01_smile</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[快乐]</string>
		<key>zhTW</key>
		<string>[快乐]</string>
		<key>en</key>
		<string>[joy]</string>
		<key>emojiName</key>
		<string>e_02_joy</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[色眯眯]</string>
		<key>zhTW</key>
		<string>[色眯眯]</string>
		<key>en</key>
		<string>[heart_eyes]</string>
		<key>emojiName</key>
		<string>e_03_heart_eyes</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[汗]</string>
		<key>zhTW</key>
		<string>[汗]</string>
		<key>en</key>
		<string>[sweat_smile]</string>
		<key>emojiName</key>
		<string>e_04_sweat_smile</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[大笑]</string>
		<key>zhTW</key>
		<string>[大笑]</string>
		<key>en</key>
		<string>[laughing]</string>
		<key>emojiName</key>
		<string>e_05_laughing</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[眨眼]</string>
		<key>zhTW</key>
		<string>[眨眼]</string>
		<key>en</key>
		<string>[wink]</string>
		<key>emojiName</key>
		<string>e_06_wink</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[百胜]</string>
		<key>zhTW</key>
		<string>[百胜]</string>
		<key>en</key>
		<string>[yum]</string>
		<key>emojiName</key>
		<string>e_07_yum</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[脸红]</string>
		<key>zhTW</key>
		<string>[脸红]</string>
		<key>en</key>
		<string>[blush]</string>
		<key>emojiName</key>
		<string>e_08_blush</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[可怕]</string>
		<key>zhTW</key>
		<string>[可怕]</string>
		<key>en</key>
		<string>[fearful]</string>
		<key>emojiName</key>
		<string>e_09_fearful</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[欧耶]</string>
		<key>zhTW</key>
		<string>[欧耶]</string>
		<key>en</key>
		<string>[ohyeah]</string>
		<key>emojiName</key>
		<string>e_10_ohyeah</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[冷汗]</string>
		<key>zhTW</key>
		<string>[冷汗]</string>
		<key>en</key>
		<string>[cold_sweat]</string>
		<key>emojiName</key>
		<string>e_11_cold_sweat</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[尖叫]</string>
		<key>zhTW</key>
		<string>[尖叫]</string>
		<key>en</key>
		<string>[scream]</string>
		<key>emojiName</key>
		<string>e_12_scream</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[亲亲]</string>
		<key>zhTW</key>
		<string>[亲亲]</string>
		<key>en</key>
		<string>[kissing_heart]</string>
		<key>emojiName</key>
		<string>e_13_kissing_heart</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[得意]</string>
		<key>zhTW</key>
		<string>[得意]</string>
		<key>en</key>
		<string>[smirk]</string>
		<key>emojiName</key>
		<string>e_14_smirk</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[害怕]</string>
		<key>zhTW</key>
		<string>[害怕]</string>
		<key>en</key>
		<string>[angry]</string>
		<key>emojiName</key>
		<string>e_15_angry</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[沮丧]</string>
		<key>zhTW</key>
		<string>[沮丧]</string>
		<key>en</key>
		<string>[sweat]</string>
		<key>emojiName</key>
		<string>e_16_sweat</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[卡住]</string>
		<key>zhTW</key>
		<string>[卡住]</string>
		<key>en</key>
		<string>[stuck]</string>
		<key>emojiName</key>
		<string>e_17_stuck</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[愤怒]</string>
		<key>zhTW</key>
		<string>[愤怒]</string>
		<key>en</key>
		<string>[rage]</string>
		<key>emojiName</key>
		<string>e_18_rage</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[生气]</string>
		<key>zhTW</key>
		<string>[生气]</string>
		<key>en</key>
		<string>[etriumph]</string>
		<key>emojiName</key>
		<string>e_19_etriumph</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[面具]</string>
		<key>zhTW</key>
		<string>[面具]</string>
		<key>en</key>
		<string>[mask]</string>
		<key>emojiName</key>
		<string>e_20_mask</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[羞愧]</string>
		<key>zhTW</key>
		<string>[羞愧]</string>
		<key>en</key>
		<string>[confounded]</string>
		<key>emojiName</key>
		<string>e_21_confounded</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[太阳镜]</string>
		<key>zhTW</key>
		<string>[太阳镜]</string>
		<key>en</key>
		<string>[sunglasses]</string>
		<key>emojiName</key>
		<string>e_22_sunglasses</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[在]</string>
		<key>zhTW</key>
		<string>[在]</string>
		<key>en</key>
		<string>[sob]</string>
		<key>emojiName</key>
		<string>e_23_sob</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[放松]</string>
		<key>zhTW</key>
		<string>[放松]</string>
		<key>en</key>
		<string>[relieved]</string>
		<key>emojiName</key>
		<string>e_24_relieved</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[疑惑]</string>
		<key>zhTW</key>
		<string>[疑惑]</string>
		<key>en</key>
		<string>[doubt]</string>
		<key>emojiName</key>
		<string>e_26_doubt</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[激动]</string>
		<key>zhTW</key>
		<string>[激动]</string>
		<key>en</key>
		<string>[flushed]</string>
		<key>emojiName</key>
		<string>e_27_flushed</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[休息]</string>
		<key>zhTW</key>
		<string>[休息]</string>
		<key>en</key>
		<string>[sleepy]</string>
		<key>emojiName</key>
		<string>e_28_sleepy</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[睡着]</string>
		<key>zhTW</key>
		<string>[睡着]</string>
		<key>en</key>
		<string>[sleeping]</string>
		<key>emojiName</key>
		<string>e_29_sleeping</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[失望]</string>
		<key>zhTW</key>
		<string>[失望]</string>
		<key>en</key>
		<string>[disappointed_relieved]</string>
		<key>emojiName</key>
		<string>e_30_disappointed_relieved</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[累]</string>
		<key>zhTW</key>
		<string>[累]</string>
		<key>en</key>
		<string>[tire]</string>
		<key>emojiName</key>
		<string>e_31_tire</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[惊讶]</string>
		<key>zhTW</key>
		<string>[惊讶]</string>
		<key>en</key>
		<string>[astonished]</string>
		<key>emojiName</key>
		<string>e_32_astonished</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[抠鼻]</string>
		<key>zhTW</key>
		<string>[抠鼻]</string>
		<key>en</key>
		<string>[buttonnose]</string>
		<key>emojiName</key>
		<string>e_33_buttonnose</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[皱眉头]</string>
		<key>zhTW</key>
		<string>[皱眉头]</string>
		<key>en</key>
		<string>[frowning]</string>
		<key>emojiName</key>
		<string>e_34_frowning</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[闭嘴]</string>
		<key>zhTW</key>
		<string>[闭嘴]</string>
		<key>en</key>
		<string>[shutup]</string>
		<key>emojiName</key>
		<string>e_35_shutup</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[面无表情]</string>
		<key>zhTW</key>
		<string>[面无表情]</string>
		<key>en</key>
		<string>[expressionless]</string>
		<key>emojiName</key>
		<string>e_36_expressionless</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[困惑]</string>
		<key>zhTW</key>
		<string>[困惑]</string>
		<key>en</key>
		<string>[confused]</string>
		<key>emojiName</key>
		<string>e_37_confused</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[厌倦]</string>
		<key>zhTW</key>
		<string>[厌倦]</string>
		<key>en</key>
		<string>[tired_face]</string>
		<key>emojiName</key>
		<string>e_38_tired_face</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[露齿而笑]</string>
		<key>zhTW</key>
		<string>[露齿而笑]</string>
		<key>en</key>
		<string>[grin]</string>
		<key>emojiName</key>
		<string>e_39_grin</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[非娱乐]</string>
		<key>zhTW</key>
		<string>[非娱乐]</string>
		<key>en</key>
		<string>[unamused]</string>
		<key>emojiName</key>
		<string>e_40_unamused</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[坚持下去]</string>
		<key>zhTW</key>
		<string>[坚持下去]</string>
		<key>en</key>
		<string>[persevere]</string>
		<key>emojiName</key>
		<string>e_41_persevere</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[傻笑]</string>
		<key>zhTW</key>
		<string>[傻笑]</string>
		<key>en</key>
		<string>[relaxed]</string>
		<key>emojiName</key>
		<string>e_42_relaxed</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[沉思]</string>
		<key>zhTW</key>
		<string>[沉思]</string>
		<key>en</key>
		<string>[pensive]</string>
		<key>emojiName</key>
		<string>e_43_pensive</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[无嘴]</string>
		<key>zhTW</key>
		<string>[无嘴]</string>
		<key>en</key>
		<string>[no_mouth]</string>
		<key>emojiName</key>
		<string>e_44_no_mouth</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[担心]</string>
		<key>zhTW</key>
		<string>[担心]</string>
		<key>en</key>
		<string>[worried]</string>
		<key>emojiName</key>
		<string>e_45_worried</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[哭]</string>
		<key>zhTW</key>
		<string>[哭]</string>
		<key>en</key>
		<string>[cry]</string>
		<key>emojiName</key>
		<string>e_46_cry</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[鼓励]</string>
		<key>zhTW</key>
		<string>[鼓励]</string>
		<key>en</key>
		<string>[clap]</string>
		<key>emojiName</key>
		<string>e_47_clap</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[垃圾]</string>
		<key>zhTW</key>
		<string>[垃圾]</string>
		<key>en</key>
		<string>[dislike]</string>
		<key>emojiName</key>
		<string>e_48_dislike</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[冠军]</string>
		<key>zhTW</key>
		<string>[冠军]</string>
		<key>en</key>
		<string>[fist]</string>
		<key>emojiName</key>
		<string>e_49_fist</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[脚丫]</string>
		<key>zhTW</key>
		<string>[脚丫]</string>
		<key>en</key>
		<string>[foot]</string>
		<key>emojiName</key>
		<string>e_50_foot</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[手掌]</string>
		<key>zhTW</key>
		<string>[手掌]</string>
		<key>en</key>
		<string>[hand]</string>
		<key>emojiName</key>
		<string>e_51_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[两只交叉]</string>
		<key>zhTW</key>
		<string>[两只交叉]</string>
		<key>en</key>
		<string>[hand_with_index_and_middle_finger_crossed]</string>
		<key>emojiName</key>
		<string>e_52_hand_with_index_and_middle_finger_crossed</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[手指比心]</string>
		<key>zhTW</key>
		<string>[手指比心]</string>
		<key>en</key>
		<string>[hand_with_index_finger_and_thumb_crossed]</string>
		<key>emojiName</key>
		<string>e_53_hand_with_index_finger_and_thumb_crossed</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[握手]</string>
		<key>zhTW</key>
		<string>[握手]</string>
		<key>en</key>
		<string>[handshake]</string>
		<key>emojiName</key>
		<string>e_54_handshake</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[双手比心]</string>
		<key>zhTW</key>
		<string>[双手比心]</string>
		<key>en</key>
		<string>[heart_hands]</string>
		<key>emojiName</key>
		<string>e_55_heart_hands</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[食指指向你]</string>
		<key>zhTW</key>
		<string>[食指指向你]</string>
		<key>en</key>
		<string>[index_pointing_at_the_viewer]</string>
		<key>emojiName</key>
		<string>e_56_index_pointing_at_the_viewer</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[左拳]</string>
		<key>zhTW</key>
		<string>[左拳]</string>
		<key>en</key>
		<string>[left_fist]</string>
		<key>emojiName</key>
		<string>e_57_left_fist</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[向左伸手]</string>
		<key>zhTW</key>
		<string>[向左伸手]</string>
		<key>en</key>
		<string>[leftwards_hand]</string>
		<key>emojiName</key>
		<string>e_58_leftwards_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[左推手]</string>
		<key>zhTW</key>
		<string>[左推手]</string>
		<key>en</key>
		<string>[leftwards_pushing_hand]</string>
		<key>emojiName</key>
		<string>e_59_leftwards_pushing_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[赞]</string>
		<key>zhTW</key>
		<string>[赞]</string>
		<key>en</key>
		<string>[like]</string>
		<key>emojiName</key>
		<string>e_60_like</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[爱你]</string>
		<key>zhTW</key>
		<string>[爱你]</string>
		<key>en</key>
		<string>[love_you_gesture]</string>
		<key>emojiName</key>
		<string>e_61_love_you_gesture</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[竖中指]</string>
		<key>zhTW</key>
		<string>[竖中指]</string>
		<key>en</key>
		<string>[middle_finger]</string>
		<key>emojiName</key>
		<string>e_62_middle_finger</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[肌肉]</string>
		<key>zhTW</key>
		<string>[肌肉]</string>
		<key>en</key>
		<string>[muscle]</string>
		<key>emojiName</key>
		<string>e_63_muscle</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[好]</string>
		<key>zhTW</key>
		<string>[好]</string>
		<key>en</key>
		<string>[ok_hand]</string>
		<key>emojiName</key>
		<string>e_64_ok_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[张开手]</string>
		<key>zhTW</key>
		<string>[张开手]</string>
		<key>en</key>
		<string>[open_hands]</string>
		<key>emojiName</key>
		<string>e_65_open_hands</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[手心朝下]</string>
		<key>zhTW</key>
		<string>[手心朝下]</string>
		<key>en</key>
		<string>[palm_down_hand]</string>
		<key>emojiName</key>
		<string>e_66_palm_down_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[手心朝上]</string>
		<key>zhTW</key>
		<string>[手心朝上]</string>
		<key>en</key>
		<string>[palm_up_hand]</string>
		<key>emojiName</key>
		<string>e_67_palm_up_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[双掌向上]</string>
		<key>zhTW</key>
		<string>[双掌向上]</string>
		<key>en</key>
		<string>[palms_up_together]</string>
		<key>emojiName</key>
		<string>e_68_palms_up_together</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[捏手指]</string>
		<key>zhTW</key>
		<string>[捏手指]</string>
		<key>en</key>
		<string>[pinched_fingers]</string>
		<key>emojiName</key>
		<string>e_69_pinched_fingers</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[抱拳]</string>
		<key>zhTW</key>
		<string>[抱拳]</string>
		<key>en</key>
		<string>[bye]</string>
		<key>emojiName</key>
		<string>e_70_bye</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[捏手]</string>
		<key>zhTW</key>
		<string>[捏手]</string>
		<key>en</key>
		<string>[pinching_hand]</string>
		<key>emojiName</key>
		<string>e_71_pinching_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[向下]</string>
		<key>zhTW</key>
		<string>[向下]</string>
		<key>en</key>
		<string>[point_down]</string>
		<key>emojiName</key>
		<string>e_72_point_down</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[向左]</string>
		<key>zhTW</key>
		<string>[向左]</string>
		<key>en</key>
		<string>[point_left]</string>
		<key>emojiName</key>
		<string>e_73_point_left</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[向右]</string>
		<key>zhTW</key>
		<string>[向右]</string>
		<key>en</key>
		<string>[point_right]</string>
		<key>emojiName</key>
		<string>e_74_point_right</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[食指]</string>
		<key>zhTW</key>
		<string>[食指]</string>
		<key>en</key>
		<string>[point_up]</string>
		<key>emojiName</key>
		<string>e_75_point_up</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[向上]</string>
		<key>zhTW</key>
		<string>[向上]</string>
		<key>en</key>
		<string>[point_up_2]</string>
		<key>emojiName</key>
		<string>e_76_point_up_2</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[祈祷]</string>
		<key>zhTW</key>
		<string>[祈祷]</string>
		<key>en</key>
		<string>[pray]</string>
		<key>emojiName</key>
		<string>e_77_pray</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[拳击]</string>
		<key>zhTW</key>
		<string>[拳击]</string>
		<key>en</key>
		<string>[punch]</string>
		<key>emojiName</key>
		<string>e_78_punch</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[举起手背]</string>
		<key>zhTW</key>
		<string>[举起手背]</string>
		<key>en</key>
		<string>[raised_back_of_hand]</string>
		<key>emojiName</key>
		<string>e_79_raised_back_of_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[张开手指]</string>
		<key>zhTW</key>
		<string>[张开手指]</string>
		<key>en</key>
		<string>[raised_hand_with_fingers_splayed]</string>
		<key>emojiName</key>
		<string>e_80_raised_hand_with_fingers_splayed</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[举手]</string>
		<key>zhTW</key>
		<string>[举手]</string>
		<key>en</key>
		<string>[raised_hands]</string>
		<key>emojiName</key>
		<string>e_81_raised_hands</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[右拳]</string>
		<key>zhTW</key>
		<string>[右拳]</string>
		<key>en</key>
		<string>[right_fist]</string>
		<key>emojiName</key>
		<string>e_82_right_fist</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[右推手]</string>
		<key>zhTW</key>
		<string>[右推手]</string>
		<key>en</key>
		<string>[rightwards_pushing_hand]</string>
		<key>emojiName</key>
		<string>e_83_rightwards_pushing_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[摇滚]</string>
		<key>zhTW</key>
		<string>[摇滚]</string>
		<key>en</key>
		<string>[sign_of_the_horns]</string>
		<key>emojiName</key>
		<string>e_84_sign_of_the_horns</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[斯波克手]</string>
		<key>zhTW</key>
		<string>[斯波克手]</string>
		<key>en</key>
		<string>[spock_hand]</string>
		<key>emojiName</key>
		<string>e_85_spock_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[耶]</string>
		<key>zhTW</key>
		<string>[耶]</string>
		<key>en</key>
		<string>[v]</string>
		<key>emojiName</key>
		<string>e_86_v</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[招手]</string>
		<key>zhTW</key>
		<string>[招手]</string>
		<key>en</key>
		<string>[wave]</string>
		<key>emojiName</key>
		<string>e_87_wave</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[手写]</string>
		<key>zhTW</key>
		<string>[手写]</string>
		<key>en</key>
		<string>[writing_hand]</string>
		<key>emojiName</key>
		<string>e_88_writing_hand</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[鸡]</string>
		<key>zhTW</key>
		<string>[鸡]</string>
		<key>en</key>
		<string>[chicken]</string>
		<key>emojiName</key>
		<string>e_89_chicken</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[牛]</string>
		<key>zhTW</key>
		<string>[]</string>
		<key>en</key>
		<string>[cow]</string>
		<key>emojiName</key>
		<string>e_90_cow</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[螃蟹]</string>
		<key>zhTW</key>
		<string>[螃蟹]</string>
		<key>en</key>
		<string>[crab]</string>
		<key>emojiName</key>
		<string>e_91_crab</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[狗]</string>
		<key>zhTW</key>
		<string>[狗]</string>
		<key>en</key>
		<string>[dog]</string>
		<key>emojiName</key>
		<string>e_92_dog</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[龙]</string>
		<key>zhTW</key>
		<string>[龙]</string>
		<key>en</key>
		<string>[dragon_face]</string>
		<key>emojiName</key>
		<string>e_93_dragon_face</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[马]</string>
		<key>zhTW</key>
		<string>[马]</string>
		<key>en</key>
		<string>[horse]</string>
		<key>emojiName</key>
		<string>e_94_horse</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[猴子]</string>
		<key>zhTW</key>
		<string>[猴子]</string>
		<key>en</key>
		<string>[monkey]</string>
		<key>emojiName</key>
		<string>e_95_monkey</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[鼠]</string>
		<key>zhTW</key>
		<string>[鼠]</string>
		<key>en</key>
		<string>[mouse]</string>
		<key>emojiName</key>
		<string>e_96_mouse</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[猪]</string>
		<key>zhTW</key>
		<string>[猪]</string>
		<key>en</key>
		<string>[pig]</string>
		<key>emojiName</key>
		<string>e_97_pig</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[兔]</string>
		<key>zhTW</key>
		<string>[兔]</string>
		<key>en</key>
		<string>[rabbit]</string>
		<key>emojiName</key>
		<string>e_98_rabbit</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[羊]</string>
		<key>zhTW</key>
		<string>[羊]</string>
		<key>en</key>
		<string>[ram]</string>
		<key>emojiName</key>
		<string>e_99_ram</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[鱼]</string>
		<key>zhTW</key>
		<string>[鱼]</string>
		<key>en</key>
		<string>[fish]</string>
		<key>emojiName</key>
		<string>e_100_fish</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[老虎]</string>
		<key>zhTW</key>
		<string>[老虎]</string>
		<key>en</key>
		<string>[tiger]</string>
		<key>emojiName</key>
		<string>e_101_tiger</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[虾]</string>
		<key>zhTW</key>
		<string>[虾]</string>
		<key>en</key>
		<string>[shrimp]</string>
		<key>emojiName</key>
		<string>e_102_shrimp</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[蛇]</string>
		<key>zhTW</key>
		<string>[蛇]</string>
		<key>en</key>
		<string>[snake]</string>
		<key>emojiName</key>
		<string>e_103_snake</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[红包]</string>
		<key>zhTW</key>
		<string>[红包]</string>
		<key>en</key>
		<string>[red_envelope]</string>
		<key>emojiName</key>
		<string>e_104_red_envelope</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[奖杯]</string>
		<key>zhTW</key>
		<string>[奖杯]</string>
		<key>en</key>
		<string>[trophy]</string>
		<key>emojiName</key>
		<string>e_105_trophy</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[金牌]</string>
		<key>zhTW</key>
		<string>[金牌]</string>
		<key>en</key>
		<string>[first_place_medal]</string>
		<key>emojiName</key>
		<string>e_106_first_place_medal</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[银牌]</string>
		<key>zhTW</key>
		<string>[银牌]</string>
		<key>en</key>
		<string>[second_place_medal]</string>
		<key>emojiName</key>
		<string>e_107_second_place_medal</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[铜牌]</string>
		<key>zhTW</key>
		<string>[铜牌]</string>
		<key>en</key>
		<string>[third_place_medal]</string>
		<key>emojiName</key>
		<string>e_108_third_place_medal</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[中]</string>
		<key>zhTW</key>
		<string>[中]</string>
		<key>en</key>
		<string>[mahjong]</string>
		<key>emojiName</key>
		<string>e_109_mahjong</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[零]</string>
		<key>zhTW</key>
		<string>[零]</string>
		<key>en</key>
		<string>[zero]</string>
		<key>emojiName</key>
		<string>e_110_zero</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[一]</string>
		<key>zhTW</key>
		<string>[一]</string>
		<key>en</key>
		<string>[one]</string>
		<key>emojiName</key>
		<string>e_111_one</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[二]</string>
		<key>zhTW</key>
		<string>[二]</string>
		<key>en</key>
		<string>[two]</string>
		<key>emojiName</key>
		<string>e_112_two</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[三]</string>
		<key>zhTW</key>
		<string>[三]</string>
		<key>en</key>
		<string>[three]</string>
		<key>emojiName</key>
		<string>e_113_three</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[四]</string>
		<key>zhTW</key>
		<string>[四]</string>
		<key>en</key>
		<string>[four]</string>
		<key>emojiName</key>
		<string>e_114_four</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[五]</string>
		<key>zhTW</key>
		<string>[五]</string>
		<key>en</key>
		<string>[five]</string>
		<key>emojiName</key>
		<string>e_115_five</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[六]</string>
		<key>zhTW</key>
		<string>[六]</string>
		<key>en</key>
		<string>[six]</string>
		<key>emojiName</key>
		<string>e_116_six</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[七]</string>
		<key>zhTW</key>
		<string>[七]</string>
		<key>en</key>
		<string>[seven]</string>
		<key>emojiName</key>
		<string>e_117_seven</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[八]</string>
		<key>zhTW</key>
		<string>[八]</string>
		<key>en</key>
		<string>[eight]</string>
		<key>emojiName</key>
		<string>e_118_eight</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[九]</string>
		<key>zhTW</key>
		<string>[九]</string>
		<key>en</key>
		<string>[nine]</string>
		<key>emojiName</key>
		<string>e_119_nine</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[十]</string>
		<key>zhTW</key>
		<string>[十]</string>
		<key>en</key>
		<string>[keycap_ten]</string>
		<key>emojiName</key>
		<string>e_120_keycap_ten</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[有]</string>
		<key>zhTW</key>
		<string>[有]</string>
		<key>en</key>
		<string>[u6709]</string>
		<key>emojiName</key>
		<string>e_121_u6709</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[对比]</string>
		<key>zhTW</key>
		<string>[对比]</string>
		<key>en</key>
		<string>[vs]</string>
		<key>emojiName</key>
		<string>e_122_vs</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[无]</string>
		<key>zhTW</key>
		<string>[无]</string>
		<key>en</key>
		<string>[u7121]</string>
		<key>emojiName</key>
		<string>e_123_u7121</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[秘密]</string>
		<key>zhTW</key>
		<string>[秘密]</string>
		<key>en</key>
		<string>[secret]</string>
		<key>emojiName</key>
		<string>e_124_secret</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[灯泡]</string>
		<key>zhTW</key>
		<string>[灯泡]</string>
		<key>en</key>
		<string>[125bulb]</string>
		<key>emojiName</key>
		<string>e_125bulb</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[黑八]</string>
		<key>zhTW</key>
		<string>[黑八]</string>
		<key>en</key>
		<string>[8ball]</string>
		<key>emojiName</key>
		<string>e_126_8ball</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[彩虹]</string>
		<key>zhTW</key>
		<string>[彩虹]</string>
		<key>en</key>
		<string>[rainbow]</string>
		<key>emojiName</key>
		<string>e_127_rainbow</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[火箭]</string>
		<key>zhTW</key>
		<string>[火箭]</string>
		<key>en</key>
		<string>[rocket]</string>
		<key>emojiName</key>
		<string>e_128_rocket</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[星]</string>
		<key>zhTW</key>
		<string>[星]</string>
		<key>en</key>
		<string>[star]</string>
		<key>emojiName</key>
		<string>e_129_star</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[丝带]</string>
		<key>zhTW</key>
		<string>[丝带]</string>
		<key>en</key>
		<string>[ribbon]</string>
		<key>emojiName</key>
		<string>e_130_ribbon</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[赛车]</string>
		<key>zhTW</key>
		<string>[赛车]</string>
		<key>en</key>
		<string>[racing_car]</string>
		<key>emojiName</key>
		<string>e_131_racing_car</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[快艇]</string>
		<key>zhTW</key>
		<string>[快艇]</string>
		<key>en</key>
		<string>[speedboat]</string>
		<key>emojiName</key>
		<string>e_132_speedboat</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[礼物]</string>
		<key>zhTW</key>
		<string>[礼物]</string>
		<key>en</key>
		<string>[gift]</string>
		<key>emojiName</key>
		<string>e_133_gift</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[钻石]</string>
		<key>zhTW</key>
		<string>[钻石]</string>
		<key>en</key>
		<string>[gem]</string>
		<key>emojiName</key>
		<string>e_134_gem</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[棒棒糖]</string>
		<key>zhTW</key>
		<string>[棒棒糖]</string>
		<key>en</key>
		<string>[lollipop]</string>
		<key>emojiName</key>
		<string>e_135_lollipop</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[心]</string>
		<key>zhTW</key>
		<string>[心]</string>
		<key>en</key>
		<string>[hearts]</string>
		<key>emojiName</key>
		<string>e_136_hearts</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[惊叹号]</string>
		<key>zhTW</key>
		<string>[惊叹号]</string>
		<key>en</key>
		<string>[exclamation]</string>
		<key>emojiName</key>
		<string>e_137_exclamation</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[禁]</string>
		<key>zhTW</key>
		<string>[禁]</string>
		<key>en</key>
		<string>[no_entry_sign]</string>
		<key>emojiName</key>
		<string>e_138_no_entry_sign</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[错]</string>
		<key>zhTW</key>
		<string>[错]</string>
		<key>en</key>
		<string>[x]</string>
		<key>emojiName</key>
		<string>e_139_x</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[对]</string>
		<key>zhTW</key>
		<string>[对]</string>
		<key>en</key>
		<string>[heavy_check_mark]</string>
		<key>emojiName</key>
		<string>e_140_heavy_check_mark</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[乘号]</string>
		<key>zhTW</key>
		<string>[乘号]</string>
		<key>en</key>
		<string>[heavy_multiplication_x]</string>
		<key>emojiName</key>
		<string>e_141_heavy_multiplication_x</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[叉号]</string>
		<key>zhTW</key>
		<string>[叉号]</string>
		<key>en</key>
		<string>[negative_squared_cross_mark]</string>
		<key>emojiName</key>
		<string>e_142_negative_squared_cross_mark</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[勾号]</string>
		<key>zhTW</key>
		<string>[勾号]</string>
		<key>en</key>
		<string>[white_check_mark]</string>
		<key>emojiName</key>
		<string>e_143_white_check_mark</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[警告]</string>
		<key>zhTW</key>
		<string>[警告]</string>
		<key>en</key>
		<string>[warning]</string>
		<key>emojiName</key>
		<string>e_144_warning</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[闪电]</string>
		<key>zhTW</key>
		<string>[闪电]</string>
		<key>en</key>
		<string>[zap]</string>
		<key>emojiName</key>
		<string>e_145_zap</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[地球]</string>
		<key>zhTW</key>
		<string>[地球]</string>
		<key>en</key>
		<string>[globe_with_meridians]</string>
		<key>emojiName</key>
		<string>e_146_globe_with_meridians</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[电话]</string>
		<key>zhTW</key>
		<string>[电话]</string>
		<key>en</key>
		<string>[telephone_receiver]</string>
		<key>emojiName</key>
		<string>e_147_telephone_receiver</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[药]</string>
		<key>zhTW</key>
		<string>[药]</string>
		<key>en</key>
		<string>[pill]</string>
		<key>emojiName</key>
		<string>e_148_pill</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[庆祝]</string>
		<key>zhTW</key>
		<string>[庆祝]</string>
		<key>en</key>
		<string>[celebrate]</string>
		<key>emojiName</key>
		<string>e_149_celebrate</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[生日]</string>
		<key>zhTW</key>
		<string>[生日]</string>
		<key>en</key>
		<string>[birthday]</string>
		<key>emojiName</key>
		<string>e_150_birthday</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[心碎]</string>
		<key>zhTW</key>
		<string>[心碎]</string>
		<key>en</key>
		<string>[broken_heart]</string>
		<key>emojiName</key>
		<string>e_151_broken_heart</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[出租车]</string>
		<key>zhTW</key>
		<string>[出租车]</string>
		<key>en</key>
		<string>[taxi]</string>
		<key>emojiName</key>
		<string>e_152_taxi</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[眼睛]</string>
		<key>zhTW</key>
		<string>[眼睛]</string>
		<key>en</key>
		<string>[eyes]</string>
		<key>emojiName</key>
		<string>e_153_eyes</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[玫瑰]</string>
		<key>zhTW</key>
		<string>[玫瑰]</string>
		<key>en</key>
		<string>[rose]</string>
		<key>emojiName</key>
		<string>e_154_rose</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[鬼]</string>
		<key>zhTW</key>
		<string>[鬼]</string>
		<key>en</key>
		<string>[ghost]</string>
		<key>emojiName</key>
		<string>e_155_ghost</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[嘴唇]</string>
		<key>zhTW</key>
		<string>[嘴唇]</string>
		<key>en</key>
		<string>[lip]</string>
		<key>emojiName</key>
		<string>e_156_lip</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[烟花]</string>
		<key>zhTW</key>
		<string>[烟花]</string>
		<key>en</key>
		<string>[fireworks]</string>
		<key>emojiName</key>
		<string>e_157_fireworks</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>zhCN</key>
		<string>[气球]</string>
		<key>zhTW</key>
		<string>[气球]</string>
		<key>en</key>
		<string>[balloon]</string>
		<key>emojiName</key>
		<string>e_158_balloon</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<!-- Optimization metadata: version 2.0, build date 2025-11-27 -->
</array>
</plist>
