<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>99999</key>
	<string>操作失败，请稍后重试</string>
	<key>999991</key>
	<string>无法连接服务器,请稍后重试</string>
	<key>10000</key>
	<string>操作成功</string>
	<key>10001</key>
	<string>系统繁忙,请稍后重试</string>
	<key>10002</key>
	<string>身份信息验证失败</string>
	<key>10003</key>
	<string>连接设备类型错误</string>
	<key>10004</key>
	<string>连接认证异常,请联系管理员</string>
	<key>10005</key>
	<string>身份信息验证失败</string>
	<key>10006</key>
	<string>连接设备类型不存在</string>
	<key>10007</key>
	<string>身份信息验证失败</string>
	<key>10008</key>
	<string>用户ID为空或参数错误</string>
	<key>10009</key>
	<string>需要安全码登录</string>
	<key>10010</key>
	<string>邀请码不匹配</string>
	<key>20000</key>
	<string>您的版本已不再支持，为确保功能正常使用，请立即更新至最新版本。</string>
	<key>2034</key>
	<string>验证失败，请5分钟后重试</string>
	<key>2035</key>
	<string>暂不支持账号注册</string>
	<key>2036</key>
	<string>账号不存在，跳转注册页面</string>
	<key>2037</key>
	<string>暂不支持邮箱注册</string>
	<key>2038</key>
	<string>暂不支持手机号注册</string>
	<key>20001</key>
	<string>查询消息用户ID为空</string>
	<key>20002</key>
	<string>查询消息群组为空</string>
	<key>20003</key>
	<string>用户ID为空</string>
	<key>20004</key>
	<string>群组为空</string>
	<key>20005</key>
	<string>消息ID为空</string>
	<key>20006</key>
	<string>最新消息上报异常,请重新上报</string>
	<key>20007</key>
	<string>聊天类型错误</string>
	<key>20008</key>
	<string>聊天类型为空</string>
	<key>20009</key>
	<string>消息撤回失败</string>
	<key>20010</key>
	<string>最新消息上报异常,参数为空</string>
	<key>20011</key>
	<string>接收方信息异常</string>
	<key>20012</key>
	<string>消息双向删除失败</string>
	<key>20013</key>
	<string>系统目前关闭消息双向删除功能</string>
	<key>20014</key>
	<string>请校准本地时间</string>
	<key>20016</key>
	<string>置顶消息不存在</string>
	<key>20017</key>
	<string>群全局置顶消息已超出最大限制</string>
	<key>20018</key>
	<string>群个人置顶消息已超出最大限制</string>
	<key>20019</key>
	<string>会话全局置顶消息已超出最大限制</string>
	<key>20020</key>
	<string>会话个人置顶消息已超出最大限制</string>
	<key>30001</key>
	<string>发送消息失败</string>
	<key>30002</key>
	<string>发送消息类型错误</string>
	<key>30003</key>
	<string>发送消息参数为空</string>
	<key>30004</key>
	<string>发送消息内容为空</string>
	<key>30005</key>
	<string>消息发送者信息为空</string>
	<key>30006</key>
	<string>消息接受者信息为空</string>
	<key>30007</key>
	<string>操作者信息为空</string>
	<key>30008</key>
	<string>该消息不存在</string>
	<key>30009</key>
	<string>该消息已收藏</string>
	<key>30010</key>
	<string>消息类型不支持该操作</string>
	<key>40001</key>
	<string>获取用户信息失败</string>
	<key>40002</key>
	<string>用户ID不能为空</string>
	<key>40003</key>
	<string>用户不存在</string>
	<key>40004</key>
	<string>用户ID格式错误</string>
	<key>40005</key>
	<string>暂未绑定手机号！</string>
	<key>40006</key>
	<string>重置密码失败！</string>
	<key>40007</key>
	<string>用户自定义ID不能为空！</string>
	<key>40008</key>
	<string>用户自定义ID更新失败！</string>
	<key>40009</key>
	<string>ID只能修改一次，你已修改过一次！</string>
	<key>40010</key>
	<string>用户自定义ID已存在！</string>
	<key>40011</key>
	<string>邀请用户不存在</string>
	<key>40012</key>
	<string>账号已被使用，切勿重复注册！</string>
	<key>40013</key>
	<string>用户已存在</string>
	<key>40014</key>
	<string>账号无效或登录密码不正确</string>
	<key>40015</key>
	<string>账号已被禁止登录</string>
	<key>40016</key>
	<string>登录TOKEN不能为空</string>
	<key>40017</key>
	<string>账号已存在</string>
	<key>40018</key>
	<string>账号已注销</string>
	<key>40019</key>
	<string>密码不正确</string>
	<key>40020</key>
	<string>未设置密保问题</string>
	<key>40021</key>
	<string>密保问题回答不正确</string>
	<key>40022</key>
	<string>openId不存在</string>
	<key>40023</key>
	<string>openId已存在</string>
	<key>40024</key>
	<string>用户名已被使用，切勿重复注册！</string>
	<key>40025</key>
	<string>该表情包已添加过</string>
	<key>40026</key>
	<string>该表情包未添加过</string>
	<key>40027</key>
	<string>该资源已添加过</string>
	<key>40028</key>
	<string>登录密码不能为空</string>
	<key>40029</key>
	<string>该设备已被禁止登录</string>
	<key>40030</key>
	<string>客户端IP已被禁止登录</string>
	<key>40031</key>
	<string>账号异常，请重新登录！</string>
	<key>40032</key>
	<string>昵称最长30个字</string>
	<key>40033</key>
	<string>只允许修改一次</string>
	<key>40034</key>
	<string>您的账号已在别处登录，请及时修改密码！</string>
	<key>40035</key>
	<string>身份信息已过期，请重新登录</string>
	<key>40036</key>
	<string>该账号密码在其他设备被修改,请重新登录</string>
	<key>40037</key>
	<string>你已退出登录</string>
	<key>40038</key>
	<string>身份信息验证失败</string>
	<key>40039</key>
	<string>帐号前两位必须为英文，只支持英文或数字</string>
	<key>40040</key>
	<string>操作频繁，请稍后再试</string>
	<key>40041</key>
	<string>不支持当前注册方式</string>
	<key>40042</key>
	<string>密钥key已过期</string>
	<key>40043</key>
	<string>密码解密失败,密码或key错误</string>
	<key>40044</key>
	<string>密码长度6-16位，须包含字母、数字</string>
	<key>40045</key>
	<string>密码连续输入错误，请5分钟后重试</string>
	<key>40046</key>
	<string>账号长度为6-16位</string>
	<key>40047</key>
	<string>账号不能有特殊符号</string>
	<key>40048</key>
	<string>密码不能有空格</string>
	<key>40049</key>
	<string>对方已拒绝接收你的消息</string>
	<key>40050</key>
	<string>自动刷新token过期</string>
	<key>40051</key>
	<string>自动刷新token不一致</string>
	<key>40052</key>
	<string>请输入正确的邮箱</string>
	<key>40053</key>
	<string>用户名格式异常，请确认</string>
	<key>40054</key>
	<string>该账号在其他设备被修改,请重新登录</string>
	<key>40055</key>
	<string>邮箱已存在</string>
	<key>40058</key>
	<string>此账号已被绑定</string>
	<key>40062</key>
	<string>密码连续输入错误，请24小时后重试</string>
	<key>40063</key>
	<string>账号被封禁，请联系管理员</string>
	<key>40064</key>
	<string>密码不正确</string>
	<key>40066</key>
	<string>密码长度6-16位，须包含字母、数字和字符</string>
	<key>40067</key>
	<string>用户已设置安全码</string>
	<key>40068</key>
	<string>新设置安全码应与原安全码不同</string>
	<key>40069</key>
	<string>原始安全码错误</string>
	<key>40070</key>
	<string>安全码由六位数字+字母组成</string>
	<key>40071</key>
	<string>安全码由六位数字+字母组成</string>
	<key>40072</key>
	<string>安全码登录已过期</string>
	<key>40073</key>
	<string>安全码登录不在同一台设备上</string>
	<key>40074</key>
	<string>安全码错误</string>
	<key>40075</key>
	<string>用户未设置安全码</string>
	<key>40078</key>
	<string>已达到最大IP注册限制</string>
	<key>40079</key>
	<string>已达到最大设备注册限制</string>
	<key>40080</key>
	<string>用户会话级翻译配置，会话id不能为空</string>
	<key>40090</key>
	<string>账号密码错误</string>
	<key>40092</key>
	<string>手机号/邮箱密码错误</string>
	<key>40093</key>
	<string>手机号/邮箱验证码错误</string>
	<key>41001</key>
	<string>群组ID不能为空</string>
	<key>41002</key>
	<string>群组不存在</string>
	<key>41003</key>
	<string>您已不在当前群组</string>
	<key>41004</key>
	<string>群组名称不能为空</string>
	<key>41005</key>
	<string>群组公告不能为空</string>
	<key>41006</key>
	<string>创建群组失败</string>
	<key>41007</key>
	<string>用户群组已达上限</string>
	<key>41008</key>
	<string>只能群主或管理员才能操作</string>
	<key>41009</key>
	<string>群组已锁定</string>
	<key>41010</key>
	<string>群成员不能为空</string>
	<key>41011</key>
	<string>群管理员不能为空</string>
	<key>41012</key>
	<string>不能移除群主</string>
	<key>41013</key>
	<string>群主不能修改为普通成员或群管理员</string>
	<key>41014</key>
	<string>群主不能为空</string>
	<key>41015</key>
	<string>群成员不在群组内</string>
	<key>41016</key>
	<string>群成员超过上限</string>
	<key>41017</key>
	<string>邀请进群类型错误</string>
	<key>41018</key>
	<string>邀请进群TOKEN错误</string>
	<key>41019</key>
	<string>邀请进群用户为空</string>
	<key>41020</key>
	<string>邀请进群用户已加入群聊</string>
	<key>41021</key>
	<string>邀请进群信息不存在或已被处理</string>
	<key>41022</key>
	<string>邀请人不存在</string>
	<key>41023</key>
	<string>邀请批次ID不能为空</string>
	<key>41024</key>
	<string>群聊邀请用户不存在</string>
	<key>41025</key>
	<string>群组类型设置错误</string>
	<key>41026</key>
	<string>群组类型设置失败</string>
	<key>41027</key>
	<string>群组未开启公开类型</string>
	<key>41028</key>
	<string>公开群组TOKEN校验失败</string>
	<key>41029</key>
	<string>公开群组TOKEN获取失败</string>
	<key>41030</key>
	<string>该群连接已失效</string>
	<key>41031</key>
	<string>未开启阅后即焚</string>
	<key>41032</key>
	<string>双方不是好友关系</string>
	<key>41033</key>
	<string>用户没有被禁言</string>
	<key>41034</key>
	<string>群公告不存在</string>
	<key>41035</key>
	<string>接口访问被拒绝</string>
	<key>41036</key>
	<string>当前群组不存在</string>
	<key>41037</key>
	<string>当前发送人已不在群内</string>
	<key>41038</key>
	<string>Token已失效</string>
	<key>41039</key>
	<string>群内昵称格式不正确</string>
	<key>41040</key>
	<string>发起群震用户已不再群内</string>
	<key>41041</key>
	<string>只能群主才能解散群</string>
	<key>41042</key>
	<string>群组名称长度不能超过30</string>
	<key>41043</key>
	<string>群管理员已达上限</string>
	<key>41044</key>
	<string>只能把群主身份移交给其他人</string>
	<key>41045</key>
	<string>群组已开启全员禁言</string>
	<key>41046</key>
	<string>用户已被禁言</string>
	<key>41047</key>
	<string>群组已解散或封禁</string>
	<key>41048</key>
	<string>您已加入当前群组</string>
	<key>41049</key>
	<string>没有权限创建群组</string>
	<key>41050</key>
	<string>当前用户角色为群主，请先转让群主身份</string>
	<key>41051</key>
	<string>群组已封禁</string>
	<key>41052</key>
	<string>群组已解散</string>
	<key>44001</key>
	<string>您当前不能加好友！</string>
	<key>44002</key>
	<string>对方账号异常</string>
	<key>44003</key>
	<string>您要加的用户目前不能加好友！</string>
	<key>44004</key>
	<string>好友不存在</string>
	<key>44005</key>
	<string>添加好友请求不存在</string>
	<key>44006</key>
	<string>已经是好友</string>
	<key>44007</key>
	<string>好友ID不能为空</string>
	<key>44008</key>
	<string>好友已到上限</string>
	<key>44009</key>
	<string>目前系统禁止添加好友！</string>
	<key>44010</key>
	<string>取消订阅失败！</string>
	<key>44011</key>
	<string>对方不允许被添加为好友！</string>
	<key>44012</key>
	<string>只能邀请好友进群，请重新选择</string>
	<key>44013</key>
	<string>对方好友已到上限</string>
	<key>44014</key>
	<string>没有权限添加好友</string>
	<key>44015</key>
	<string>一次最多只能向9位好友分享</string>
	<key>45001</key>
	<string>无可用短信平台</string>
	<key>45002</key>
	<string>未知短信平台</string>
	<key>45003</key>
	<string>阿里云短信发送失败</string>
	<key>45004</key>
	<string>天天国际短信发送失败</string>
	<key>45005</key>
	<string>云片短信发送失败</string>
	<key>45006</key>
	<string>发送短信太频繁,请稍后再试</string>
	<key>45007</key>
	<string>发送短信失败,请稍后重试</string>
	<key>45008</key>
	<string>24小时之内最多只能获取5次验证码</string>
	<key>45009</key>
	<string>短信验证码为空</string>
	<key>450010</key>
	<string>验证码不正确，请重新输入</string>
	<key>450011</key>
	<string>验证码已过期，请重新获取</string>
	<key>450012</key>
	<string>手机号已存在</string>
	<key>450013</key>
	<string>请求极验validate接口失败</string>
	<key>450014</key>
	<string>校验二次验证不通过</string>
	<key>450015</key>
	<string>验证码还在有效期，请勿重新发送</string>
	<key>450016</key>
	<string>手机区号不能为空</string>
	<key>450017</key>
	<string>手机号格式错误</string>
	<key>450018</key>
	<string>国际短信业务暂不支持</string>
	<key>450020</key>
	<string>短信模板不存在,请联系管理员</string>
	<key>46001</key>
	<string>获取二维码失败</string>
	<key>46002</key>
	<string>二维码已失效</string>
	<key>46003</key>
	<string>二维码参数异常</string>
	<key>46005</key>
	<string>扫码二维码状态错误</string>
	<key>46006</key>
	<string>同时登录用户太多</string>
	<key>47000</key>
	<string>版本号不一致</string>
	<key>47001</key>
	<string>版本号检测异常</string>
	<key>50001</key>
	<string>手机号不存在！</string>
	<key>50002</key>
	<string>账号密码或验证码错误！</string>
	<key>50003</key>
	<string>邀请人不存在！</string>
	<key>50004</key>
	<string>二维码解析异常！</string>
	<key>50005</key>
	<string>二维码已过期，请重新扫码！</string>
	<key>50006</key>
	<string>网页端已取消登录，请重新扫码！</string>
	<key>50007</key>
	<string>等待扫码中...</string>
	<key>50008</key>
	<string>正在登录...</string>
	<key>50009</key>
	<string>登录已过期，重新登录！</string>
	<key>50010</key>
	<string>注册欢迎语不能为空！</string>
	<key>50011</key>
	<string>该操作有用户正在操作，请稍后重试</string>
	<key>50012</key>
	<string>手机号不能为空</string>
	<key>50013</key>
	<string>手机号已存在</string>
	<key>50014</key>
	<string>搜索内容不能为空</string>
	<key>50015</key>
	<string>审核状态错误</string>
	<key>50016</key>
	<string>被举报人ID不能为空</string>
	<key>50017</key>
	<string>举报人内容及标题不能为空</string>
	<key>50018</key>
	<string>用户原密码错误</string>
	<key>50019</key>
	<string>设备类型为空</string>
	<key>50020</key>
	<string>推送服务器类型为空</string>
	<key>50021</key>
	<string>推送Token为空</string>
	<key>50022</key>
	<string>当前二维码已失效</string>
	<key>50023</key>
	<string>二维码类型错误</string>
	<key>50024</key>
	<string>未使用对象存储</string>
	<key>50025</key>
	<string>区号不能为空</string>
	<key>50031</key>
	<string>蓝鲸出海激活码为空</string>
	<key>50032</key>
	<string>蓝鲸出海登录失败</string>
	<key>50033</key>
	<string>蓝鲸出海获取翻译通道失败</string>
	<key>50034</key>
	<string>翻译失败</string>
	<key>50035</key>
	<string>翻译账号已被禁用</string>
	<key>50036</key>
	<string>通道不可用，请联系客服</string>
	<key>50037</key>
	<string>蓝鲸出海套餐已失效</string>
	<key>50038</key>
	<string>暂不支持该语种</string>
	<key>50041</key>
	<string>阅译账号信息为空</string>
	<key>50042</key>
	<string>阅译账号登录失败</string>
	<key>51003</key>
	<string>操作失败，请重试</string>
	<key>51004</key>
	<string>操作失败，请使用真实设备</string>
	<key>51005</key>
	<string>配置错误，请联系管理员</string>
	<key>52001</key>
	<string>转发数量超过限制</string>
	<key>72015</key>
	<string>请输入正确的手机号！</string>
	<key>73001</key>
	<string>当前群发助手任务过多,等待上一个完成</string>
	<key>80001</key>
	<string>文件不存在</string>
	<key>90001</key>
	<string>无操作权限</string>
	<key>90002</key>
	<string>操作参数异常</string>
	<key>90003</key>
	<string>传入参数不合法</string>
	<key>90004</key>
	<string>无效TOKEN</string>
	<key>90005</key>
	<string>请求失败</string>
	<key>90006</key>
	<string>授权未通过</string>
	<key>90007</key>
	<string>当前登录方式不支持</string>
	<key>90008</key>
	<string>注册方式不支持</string>
	<key>90009</key>
	<string>没有权限登录该类型平台</string>
	<key>90010</key>
	<string>没有权限多端登录</string>
	<key>90011</key>
	<string>license信息错误，请检查</string>
	<key>90012</key>
	<string>license已被禁用，请检查</string>
	<key>90013</key>
	<string>license已过期，请检查</string>
	<key>90014</key>
	<string>未在license指定IP范围内登录</string>
	<key>90015</key>
	<string>未在license指定Mac范围内登录</string>
	<key>90016</key>
	<string>请初始化文件助手系统用户信息</string>
	<key>90017</key>
	<string>超过license人数限制，请检查</string>
	<key>90018</key>
	<string>登录IP不在白名单内</string>
	<key>90019</key>
	<string>记录不存在</string>
	<key>90020</key>
	<string>用户与租户关系不存在</string>
	<key>90021</key>
	<string>租户信息不存在</string>
	<key>90023</key>
	<string>此账号已在当前设备登录</string>
	<key>90024</key>
	<string>账号密码登录暂不可用，请尝试其他登录方法</string>
	<key>90026</key>
	<string>操作失败</string>
	<key>900001</key>
	<string>推送配置不能为空</string>
	<key>900002</key>
	<string>推送配置类型不能为空</string>
	<key>900003</key>
	<string>推送配置类型错误</string>
	<key>900004</key>
	<string>推送配置ID错误</string>
	<key>900005</key>
	<string>推送配置空间区域标示错误</string>
	<key>900006</key>
	<string>修改推送配置状态</string>
	<key>900007</key>
	<string>推送配置配合不存在</string>
	<key>900008</key>
	<string>请先修改补全推送配置信息</string>
	<key>900009</key>
	<string>状态已经为启用,请勿重复启用</string>
	<key>900010</key>
	<string>修改对象推送配置</string>
	<key>900011</key>
	<string>推送配置ID不能为空</string>
	<key>900012</key>
	<string>应用包名不能为空</string>
	<key>900013</key>
	<string>请选择是否开启调试模式</string>
	<key>900014</key>
	<string>调试模式状态错误</string>
	<key>900015</key>
	<string>配置文件不存在</string>
	<key>900016</key>
	<string>登录配置异常，请联系管理员</string>
	<key>900017</key>
	<string>用户已经注销</string>
	<key>900018</key>
	<string>用户已经被拉黑</string>
	<key>900019</key>
	<string>你已经被拉黑</string>
	<key>910001</key>
	<string>对方正在通话中</string>
	<key>910002</key>
	<string>你已经在通话中了</string>
	<key>910003</key>
	<string>通话记录不存在</string>
	<key>910004</key>
	<string>用户不在线</string>
	<key>910005</key>
	<string>通话状态错误</string>
	<key>910006</key>
	<string>通话token构建错误</string>
	<key>910007</key>
	<string>邀请的用户不符合条件</string>
	<key>910008</key>
	<string>通话已结束</string>
	<key>920001</key>
	<string>图片为空，或者超过9个</string>
	<key>920002</key>
	<string>用户反馈长度超过200个</string>
	<key>920003</key>
	<string>用户反馈分类为空或者长度超过40</string>
	<key>920004</key>
	<string>用户反馈 反馈人，反馈群，长度超过40</string>
	<key>920005</key>
	<string>用户反馈 所属企业信息长度超过40</string>
	<key>920006</key>
	<string>用户反馈分类错误 0:用户投诉，1:群投诉</string>
	<key>940001</key>
	<string>会话类型信息错误</string>
	<key>940002</key>
	<string>链接名称长度不可超过8</string>
	<key>940003</key>
	<string>链接不存在</string>
	<key>940004</key>
	<string>无权删除</string>
	<key>940005</key>
	<string>无权编辑</string>
	<key>95301</key>
	<string>弱密码提示</string>
	<key>95302</key>
	<string>密码与账户名一致提示</string>
	<key>42001</key>
	<string>团队不存在</string>
	<key>42002</key>
	<string>团队名称不能为空</string>
	<key>42003</key>
	<string>超出最大团队数</string>
	<key>42004</key>
	<string>团队正在创建，请稍后重试</string>
	<key>42005</key>
	<string>团队已存在</string>
	<key>42006</key>
	<string>团队ID不能为空</string>
	<key>42007</key>
	<string>移动的用户不能为空</string>
	<key>42008</key>
	<string>人数不足三人，无法创建群聊</string>
	<key>42009</key>
	<string>默认团队不存在</string>
	<key>42010</key>
	<string>默认团队不允许删除</string>
	<key>42011</key>
	<string>团队名称不能超过50个字符</string>
	<key>42012</key>
	<string>团队成员剩余一人无法建群</string>
	<key>42013</key>
	<string>正在创建群聊请勿重复操作</string>
	<key>43003</key>
	<string>邀请码生成超过10次，请优化业务</string>
	<key>44016</key>
	<string>提交成功，系统稍后处理</string>
	<key>44017</key>
	<string>您已经提交过申请，请耐心等待审核</string>
	<key>48000</key>
	<string>系统未开启签到功能</string>
	<key>48001</key>
	<string>当前已签到过</string>
	<key>48002</key>
	<string>签到中,请勿重复操作</string>
	<key>950001</key>
	<string>快应用名称为空</string>
	<key>950002</key>
	<string>快应用名称应为1-6个字符</string>
	<key>950003</key>
	<string>快应用密码应为6-16个字符</string>
	<key>950004</key>
	<string>快应用地址未设置</string>
	<key>950005</key>
	<string>快应用唯一标识为空</string>
	<key>952000</key>
	<string>表情id获取表情包信息失败</string>
	<key>952001</key>
	<string>用户使用中的表情包不能操作</string>
	<key>952002</key>
	<string>表情包表情不能为空</string>
	<key>952003</key>
	<string>表情包已下架</string>
	<key>952100</key>
	<string>用户角色权限不存在</string>
	<key>952101</key>
	<string>该用户没有设置角色</string>
	<key>952102</key>
	<string>用户角色未配置添加好友角色权限</string>
	<key>930001</key>
	<string>分组不存在</string>
	<key>930002</key>
	<string>用户无分组信息</string>
	<key>930003</key>
	<string>默认分组不能删除</string>
	<key>40422</key>
	<string>字符不足</string>
	<key>40056</key>
	<string>未绑定阅译账号</string>
	<key>40057</key>
	<string>请先解除绑定</string>
	<key>40059</key>
	<string>阅译返回信息错误</string>
	<key>42014</key>
	<string>邀请码错误</string>
	<key>42016</key>
	<string>该验证码当前不可使用</string>
	<key>42017</key>
	<string>可用邀请码已达上限</string>
	<key>-999999</key>
	<string>当前无法连接网络，请检查网络设置是否正常</string>
	<key>8201</key>
	<string>error</string>
	<key>New item - 3</key>
	<string>error!</string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item - 2</key>
	<string>error</string>
	<key>8202</key>
	<string>error</string>
	<key>8203</key>
	<string>error</string>
	<key>8204</key>
	<string>error</string>
	<key>8205</key>
	<string>error</string>
	<key>8206</key>
	<string></string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
